
<div class="mf-item"><div class="ans-itm-cntr qna-df qna-aggr-genItems "><div class="df_c d_ans " id="d_ans"><div class="b_vPanel"><div><div class="df_con "><div class="rwrl rwrl_pri rwrl_padref">Savitribai Phule Pune University (SPPU), formerly University of Pune and University of Poona, is a<strong> collegiate public state university located in Pune, Maharashtra</strong>. Established in 1949, and spread over a 411 acres (1.66 km 2) campus, the university is home to 43 academic departments.</div><div class="rch-cap-cntr"><div class="rch-cap-list"><div><strong>Campus:&nbsp;</strong><a target="_blank" href="https://www.bing.com/ck/a?!&amp;&amp;p=d8409eda38bd5217652efb7ac364650fac3dc05783e62e4c96da952f3e09ee05JmltdHM9MTY1NjMzMjA5NyZpZ3VpZD1mNjExYjczMi1jYmFjLTQ0YTctOWU0Yy0zODczMDQ1MWFlZDAmaW5zaWQ9NTQyOA&amp;ptn=3&amp;fclid=c27e15b1-f612-11ec-8693-0162666a753b&amp;u=a1L3NlYXJjaD9xPVVyYmFuK2FyZWFzK3dpa2lwZWRpYQ&amp;ntb=1" h="ID=SERP,5428.1">Urban</a></div><div><strong>Motto:&nbsp;</strong><span>Yaḥ kriyāvān saḥ paṇḍitaḥ (</span><a target="_blank" href="https://www.bing.com/ck/a?!&amp;&amp;p=05fa108826ab823e5872a2b554a3d7f6de445dd8ba8db97cf4f99b412c2fb100JmltdHM9MTY1NjMzMjA5NyZpZ3VpZD1mNjExYjczMi1jYmFjLTQ0YTctOWU0Yy0zODczMDQ1MWFlZDAmaW5zaWQ9NTQzMA&amp;ptn=3&amp;fclid=c27e18b4-f612-11ec-8635-552d51e1b864&amp;u=a1L3NlYXJjaD9xPVNhbnNrcml0K2xhbmd1YWdlK3dpa2lwZWRpYQ&amp;ntb=1" h="ID=SERP,5430.1">Sanskrit</a><span>)</span></div><div><strong>Motto in English:&nbsp;</strong><span>"Where Actions Prove Knowledge"</span></div><div><strong>Students:&nbsp;</strong><span>665121</span></div></div></div><div class="rwrl_cred rwrl_f"></div></div></div></div></div></div></div></div></div></div>







