@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">    <h1 class="display-4">Welcome to savitribai phule pune University</h1>   </div>


<style>
        h1 {
                border-width: 2px;
                border-color: blue;

    }
</style>


